body {
  background-color: rgb(25, 24, 24);
  margin: 0;
  padding: 0;
}

/* main container */
main {
  width: 100vw;
  height: 100vh;
}

/* header  */
header {
  border-bottom: 2px solid rgb(16, 15, 15);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 70px;
  padding-right: 15px;
  position: relative;
}

/* header buttons */
header button {
  background-color:rgba(105, 104, 104, 0.856);
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 15px;
  box-shadow: none;
  color: white;
  cursor: pointer;
}

.all-btn {
  width: 70px;
  background-color: rgb(97, 225, 121);
  color:black;
}

.wrapped-btn {
  width: auto;
  border: 2.5px solid white;
  padding: 5px 18px;
  flex: 1;
}

.music-btn {
 width: 80px;
}

.podcasts-btn {
  flex: 1;
}

/* user profile image in header */
.user-profile {
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-items: center;

}

.user-profile-image {
  background-color: rgba(139, 195, 230, 0.8);
  width: 40px;
  height: 40px;
  margin-left: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  box-shadow: 4px 0 9px 4px black;
}

.user-profile-text {
  padding-left: 7px;
  font-family: helvetica;
  font-size: 30px;
  font-weight: 70px;
}

/* to get started text */
.to-get-started-text {
  color: white;
  margin-left: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 650;
}