body {
  background-color: rgb(25, 24, 24);
  margin: 0;
  padding: 0;
}

/* main container */
main {
  width: 100vw;
  height: 100vh;
}

/* header  */
header {
  border-bottom: 2px solid rgb(16, 15, 15);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 80px;
  padding-right: 15px;
  position: relative;
}

/* header buttons */
header button {
  background-color:rgba(105, 104, 104, 0.856);
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 15px;
  box-shadow: none;
  color: white;
  cursor: pointer;
}

.all-btn {
  width: 70px;
  background-color: rgb(97, 225, 121);
}

.wrapped-btn {
  width: auto;
  border: 2.5px solid white;
  padding: 5px 18px;
  flex: 1;
}

.music-btn {
 width: 80px;
}

.podcasts-btn {
  flex: 1;
}

/* user profile image in header */
.user-profile {
  border: 1px solid white;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:rgb(16, 15, 15) ;

}

.user-profile-image {
  background-color: aqua;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}