body {
  background-color: rgb(25, 24, 24);
  margin: 0;
  padding: 0;
}

/* main container */
main {
  width: 100vw;
  height: 100vh;
}

/* header  */
header {
  border: 2px solid white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}